/* CSS Reset
========================================================================== */
html {
	font-size: 16px;
	text-align: center;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
	line-height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	/*background-image: url('../img/confectionary.png');*/
	background-color: #f3f4f1;
}

a { text-decoration: none;}

/* theme color
========================================================================== */
/* font - black
-------------------------------------------------------------------------- */
body {
	color: #888;
}

a { color: rgba(255, 158, 133, 1);}
a:visited { color: rgba(255, 158, 133, 1);}
a:hover { color: rgba(255, 158, 133, 0.6);}
a:active { color: rgba(255, 158, 133, 0.4);}

/* font - white
-------------------------------------------------------------------------- */
#main-header {
	color: #fcfdfa;
}

/* font - implant
-------------------------------------------------------------------------- */
.implant {
	color: #6b957b;
	text-shadow: -1px -1px 1px #629371, 1px 1px 1px #dcddda;
}

/* background - green
-------------------------------------------------------------------------- */
#main-header {
	background-color: #6C90FF;
	/* TODO: ÒŠ¤¨¤Ê¤¤¤Î¤Ç¤¤¤Ã¤¿¤ó */
	/*opacity: .3;*/
	border: 1px #69f solid;
}

/* object theme color - default
-------------------------------------------------------------------------- */
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="button"]:active,
button:active {
	border: 1px solid #8FCC42;
}

input[type="button"],
button {
	background-color: #8FCC42;
}

/* object theme color - bold
-------------------------------------------------------------------------- */
input[type="button"].bold,
button.bold {
	background-color: #44b216;
}

/* object theme color - active
-------------------------------------------------------------------------- */
input[type="button"]:hover,
button:hover {
	background-color: rgba(143, 204, 66, 0.8);
}

/* bold */
input[type="button"].bold:hover,
button.bold:hover {
	background-color: rgba(68, 178, 22, 0.8);
}



/* layout
========================================================================== */
.table_parent { display: table; }
.table_child { display: table-cell; }
.table_child_l {
	display: table-cell;
	text-align: left;
}
.table_child_r {
	display: table-cell;
	text-align: right;
}
.table_child_c {
	display: table-cell;
	text-align: center;
}
.flt { float: left;}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* icon
========================================================================== */
button span.genericon {
	font-size: 1.4em;
	line-height: 1em;
	position: relative;
	left: 5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

.fa {
	margin-right: 4px;
}

/* dialog
========================================================================== */
.ui-dialog-title {
	text-align: left;
}

.ui-dialog-content {
	text-align: left;
}

/* function
========================================================================== */
.hidden { display: none;}
.invisible { visibility: hidden; }


/* memo
========================================================================== */
.mm1 {background: #ffeecc;}
.mm2 {background: #ffccee;}
.mm3 {background: #eeffcc;}
.mm4 {background: #eeccff;}
.mm5 {background: #ccffee;}
.mm6 {background: #cceeff;}
.cake-debug-output {z-index: 9999;}