/* Header
========================================================================== */
#main-header {
	/*box-shadow: 0px -4px 2px 6px rgba(0, 0, 0, .5);*/
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	top: 0; left: 0;
	text-shadow: 0px 1px 1px #888;
	width: 100%;
	z-index: 2;
}

/* Navigation
========================================================================== */
#main-nav {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .2);
	min-height: 32px;
	line-height: 32px;
	position: fixed;
	top: 40px; left: 0;
	text-shadow: 0px 1px 1px #888;
	width: 100%;
	z-index: 2;
}
	#main-nav ul {
		width: 100%;
	}
		.nav_menu {
			box-sizing: border-box;
			cursor: pointer;
			float: left;
			font-size: 12px;
			overflow: hidden;
			text-align: center;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
			transition: background-color .7s ease-in;
			word-break: break-all;
			word-wrap: break-word;
		}
		.nav_menu:hover {
			background-color: #6C90FF;
		}
		.nav_menu:after {
			content: "";
			clear: both;
			display: block;
		}
			.nav_menu .fa {
				color: #3A57B2;
				background-color: #f3f4f1;
				border: 1px solid #f3f4f1;
				border-radius: 3px;
				box-sizing: border-box;
				padding: 2px;
			}

/* Contents
========================================================================== */
#main-contents {
	margin: 0 auto;
	text-align: left;
	width: 840px;
}

#artcl-access button {
	width: 140px;
}

#artcl-access dt {
	width: 60px;
}

.cts_explain {
	min-height: 40px;
	padding: 4px 0;
}

.cts_artcl {
	background-color: #fbfbfb;
	border-radius: 10px;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .2);
	margin: 0 auto 48px auto;
	padding: 8px 0 8px 0;
	width: 90%;
}
	.cts_artcl > h1 {
		font-size: 42px;
		margin: 0 0 12px 8px;
	}
		.cts_artcl > h1 > .fa {
			color: #6C90FF;
			margin-right: -8px;
		}
	.cts_artcl > h1:after {
		border-bottom: 1px solid #6C90FF;
		border-top: 1px solid #6C90FF;
		background-color: #6C90FF;
		content: "";
		display: block;
		height: 2px;
		margin-top: 4px;
		width: 98%;
	}

	.cts_artcl > h2 {
		margin: 12px 0 12px 24px;
	}

	.cts_artcl > h2 + p,
	.cts_artcl > h2 + ul {
		margin: 12px 0 12px 40px;
	}

	.artcl_explain {
		background-color: #e7e3e3;
		box-sizing: border-box;
		font-size: .68em;
		margin: 12px auto 12px auto;
		padding: 8px;
		width: 95%;
	}
		.artcl_explain > p {
			line-height: 1.4;
		}

	.artcl_single-btn {
		margin: 24px auto;
		text-align: center;
		width: 100%;
	}
		.artcl_single-btn > button {
			width: 90%;
		}


/* Footer
========================================================================== */
#main-footer {
	height: 80px;
	width: 100%;
}
/* Object Class
-------------------------------------------------------------------------- */
dl.FloatLists {
	margin: 12px 0 12px 40px;
}
	dl.FloatLists > dt:before {
		content: "";
		display: inline-block;
		width: 100%;
	}
	dl.FloatLists > dt {
		display: inline-block;
		margin: 0px 32px 12px 0px;
	}
		dl.FloatLists > dd {
			display: inline-block;
			margin-left: 32px;
		}


